process {
    executor='lsf'
   

    withName: 'download_fastqs' {
        clusterOptions = "-g /scxa_ena_download"
    }
}

executor {
    queueSize=1000
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "/nfs/production/irene/ma/users/nnolte/snRNA-mapping-rate/envs"
    createTimeout = "30 min"
}

params {
    downloadMethod = 'http'
    maxConcurrentDownloads = 40
}
